body { 
    background-image: url(img/cg/cg1.jpg);
    background-size: 110%;
    background-attachment: fixed;
}
nav {
    background-color: #f8f0bd;
    border-bottom: 5px solid #faf3ea;
    border-radius: 10px;
    font-family: consolas, helvetica, sans-serif;
    font-size: 200%;
    word-spacing: 30px;
    text-align: center;
}
#tc { 
    color: #5c4252;
}
h1 { 
    font-family: consolas, helvetica, sans-serif;
    text-align: center;
    color: #5c4252;
}
h2 {
    font-family: consolas, helvetica, sans-serif;
    color: #5c4252;
}
p {
    font-family: consolas, helvetica, sans-serif;
    color: #5c4252;
    font-size: 16pt;
    line-height: 1,5;
    display: inline-block;
}
#pch {
    background-color: #faf3ea;
    display: inline-block;
}
details {
    font-family: consolas, helvetica, sans-serif;
    color: #5c4252;
}
summary {
    list-style: none;
}
#imagein {
    width: 30%;
    margin-left: 15%;
    margin-bottom: 5%;
}
#down {
    text-align: center;
    background-color: black;
    width: 100%;
}
#downt {
    font-size: 12pt;
    font-family: helvetica, sans-serif;
    color: gray;
}
